.App {
  text-align: center;
}

.city {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.city-button {
  font-size: larger;
}

.current-city {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-top: 2%;
  font-weight: bold;
}

.current-temp {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-top: 2%;
  font-weight: bold;
  margin-bottom: 2%;
}

.htx {
  justify-content: right;
}

.atx {
  justify-content: left;
}

.hourly {
  display: flex;
  justify-content: center;
}

.search-button {
  background-color: rgb(91, 154, 255);
}

.search-row {
  display: flex;
  justify-content: center;
}

.time {
  display: flex;
  justify-content: right;
}

.title {
  background-color: darkorange;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
